.chat-container {
    border: 1px solid #000;
    padding: 0.5rem;
    height: 90vh;
    width: 80%;
    overflow-y: scroll;
    box-sizing: border-box;
    margin: 0 auto 0.5rem;
}

.message-form {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.message-input {
    width: 70%;
    box-sizing: border-box;
    padding: 0.25rem;
}

.send-button {
    width: 29%;
    border: 1px solid #000;
    background-color: #f2f2f7;
    padding: 0.25rem;
}

.message-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    color: #fff;
    clear: right;
    position: relative;
    width: fit-content;
}

.message-bubble {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.left-message-bubble {
    background-color: #34c759;
    border-bottom-right-radius: 0.75rem;
}

.right-message-bubble {
    float: right;
    text-align: right;
    background-color: #32ade6;
    border-bottom-left-radius: 0.75rem;
}

.message-username {
    font-weight: bold;
}

.message-text-content {
    word-break: break-all;
}

.message-time {
    font-size: 0.6rem;
}
