$primaryColor: #F7EDE2;
$secondaryColor: #373f51;
$boardColor: #F5CAC3;
$yellowColor: #F6BD60;
$pinkColor: #F28482;
$greenColor: #84A59D;
$pinkHoverColor: #F5C3BC;
$greenHoverColor: #C9D0C6;
$primaryHoverColor: #B2C2B9;
$transDelay: 0.5s;
