:root {
    --white: #ffffff;
    --blue: #76cdd8;
    --cyan: #24d4d4;
    --teal: #019999;
    --dark: #585858;
    --trans-delay: 0.3s;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: #f4f4f4;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.white-bg {
    background-color: var(--white);
}

.cyan-bg {
    background-color: var(--cyan);
}

.blue-bg {
    background-color: var(--blue);
}

.teal-bg {
    background-color: var(--teal);
}

.text-white {
    color: var(--white);
}

.text-secondary {
    color: var(--blue);
}

.text-primary {
    color: var(--dark);
}

.wrapper {
    margin: 0 auto;
    max-width: 1140px;
    padding-left: 30px;
    padding-right: 30px;
}

.section-mb {
    margin-bottom: 1.5rem;
}

.triangle {
    position: relative;
}

.triangle::before {
    content: "";
    position: absolute;
    top: 0;
    background-color: var(--blue);
    width: 80px;
    height: 80px;
    transition: opacity var(--trans-delay);
    opacity: 0;
}

.about-items-section:hover .triangle::before {
    opacity: 1;
}

.right-triangle::before {
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.left-triangle::before {
    left: 0;
    clip-path: polygon(0 100%, 0 0, 100% 0);
}

.zoom-img {
    z-index: 1;
    transition: var(--trans-delay);
}

.zoom-img:hover {
    transform: scale(1.1);
}

.about-items {
    display: flex;
    flex-direction: column;
}

.about-items-section {
    display: flex;
    flex-wrap: wrap;
}

.about-item {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-container-padding {
    padding: 4rem 3rem;
    box-sizing: border-box;
}

.about-item-heading {
    font-size: 3rem;
}

.about-item-heading-text {
    font-size: 1.05rem;
    line-height: 170%;
    transition: var(--trans-delay);
}

.about-items-section:hover .about-item-heading-text,
.about-items-section:hover .about-item-text {
    color: var(--blue);
}

.about-item-subheading,
.extra-info-heading {
    font-size: 1.35rem;
    line-height: 130%;
}

.about-item-text {
    font-size: 0.9rem;
    line-height: 170%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    transition: var(--trans-delay);
}

.about-item-game-img-container {
    clip-path: circle(32%);
    margin-bottom: 1rem;
}

.about-item-game-img {
    max-width: 100%;
    height: auto;
}

.about-item-game-img-caption {
    font-size: 0.65rem;
    text-align: center;
}

.about-item-pay-pass-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button {
    border: none;
    color: white;
    padding: 0.75rem 2.15rem;
    font-size: 0.85rem;
    background-color: var(--teal);
    cursor: pointer;
    display: block;
    transition: var(--trans-delay);
}

.read-more-button:hover {
    background-color: var(--blue);
}

.about-item-button-right {
    margin-left: auto;
}

.epam-link {
    text-decoration: none;
}

.extra-info-items {
    display: flex;
    flex-wrap: wrap;
}

.extra-info-text-item {
    flex: 7;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.extra-info-para {
    font-size: 0.85rem;
    line-height: 170%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.extra-info-img-item {
    flex: 4;
}

.extra-info-tennis-court-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.extra-info-button-right {
    display: flex;
    justify-content: flex-end;
}

.plans-items {
    display: flex;
    flex-wrap: wrap;
}

.plans-img-item {
    flex: 3;
}

.plans-basketball-court-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plans-card-items {
    flex: 6;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.plans-card-items-padding {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

.plans-card {
    border: 1px solid var(--teal);
    transition: var(--trans-delay);
}

.plans-card:hover {
    box-shadow: 0 0 0 0.2rem var(--cyan);
}

.plans-card-heading {
    padding: 1.3rem 4rem;
    text-align: center;
}

.plan-type {
    font-size: 1.25rem;
    font-weight: normal;
}

.plan-price {
    font-size: 0.85rem;
}

.plans-card-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans-card-list {
    list-style-type: none;
    padding: 1rem 1rem 0.5rem;
}

.plans-card-list li {
    font-size: 0.85rem;
    margin-bottom: 0.85rem;
}

.plan-card-button {
    margin: 0 auto 0.8rem;
    transition: var(--trans-delay);
}

.plan-card-button:hover {
    background: var(--cyan);
}

.special-discount-text {
    visibility: hidden;
    color: var(--cyan);
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    margin-top: -0.5rem;
}

.advanced-plan-card:hover .special-discount-text {
    visibility: visible;
    color: var(--cyan);
}

.advanced-plan-card:hover {
    transform: scale(1.05);
}

.special-discount-text::before {
    content: "*";
    color: red;
    font-size: 0.85em;
}

.application-form-heading-container {
    padding-top: 1.8rem;
    padding-bottom: 4.1rem;
}

.application-form-heading-wrapper {
    width: 75%;
    margin: 0 auto;
}

.application-form-heading {
    font-size: 1.4rem;
    line-height: 130%;
}

.application-form-wrapper {
    box-sizing: border-box;
    padding: 3.4rem 3.8rem;
    margin: 0 auto -2.6rem;
    width: 75%;
    position: relative;
    bottom: 2.6rem;
}

.application-form-container {
    display: flex;
    justify-content: space-between;
    column-gap: 1.3rem;
    margin-bottom: 1.2rem;
}

.application-form-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.application-form-item {
    flex-basis: 50%;
    width: 100%;
}

::placeholder {
    color: var(--dark);
}

.application-form-input,
.application-form-select {
    padding: 0.7rem;
    margin-bottom: 0.75rem;
}

.application-form-textarea {
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    padding: 0.7rem;
    font-family: inherit;
}

.focus-style:focus {
    outline: 0;
    border-color: var(--cyan);
    box-shadow: 0 0 0 0.2rem var(--cyan);
}

.application-form-button {
    margin: 0 auto;
    transition: var(--trans-delay);
}

.application-form-button:hover {
    background-color: var(--blue);
}

.details {
    position: relative;
    bottom: 2.6rem;
    z-index: -1;
    margin-bottom: -2.6rem;
}

.details-items {
    padding-top: 4.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: space-evenly;
}

.details-heading {
    font-size: 1.15rem;
}

.address-details,
.extra-details {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    line-height: 185%;
}

.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-copyrights-text {
    font-size: 0.75rem;
}

@media screen and (max-width: 768px) {
    .text-container-padding {
        padding: 2rem 1.5rem;
    }

    .about-item {
        flex-basis: 100%;
    }

    .application-form-container {
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .application-form-item {
        flex-basis: 100%;
    }

    .plans-card-items-padding {
        padding-top: 0.875rem;
        padding-bottom: 0.875rem;
    }

    .plans-img-item,
    .extra-info-img-item {
        flex-basis: 100%;
    }

    .plans-card-items,
    .extra-info-text-item {
        flex-basis: 100%;
    }

    .plans-card-heading {
        padding: 0.65rem 2rem;
    }

    .plans-card-list {
        padding-top: 0.5rem;
        padding-bottom: 0.25rem;
    }

    .plans-card-list li {
        margin-bottom: 0.425rem;
    }

    .special-discount-text {
        font-size: 0.65rem;
    }

    .application-form-wrapper {
        padding: 1.7rem 1.9rem;
    }

    .footer {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
}

@media screen and (max-width: 375px) {
    .application-form-wrapper {
        padding: 1rem 0.8rem;
    }

    .footer {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}
