$primaryColor: #FFFFFF;
$secondaryColor: #FFFFFF;
$buttonColor: #E3AC00;
$contentColor: #D1D1D1;
$contentBackground: #3B3F50;
$gradientColor: #912A53;
$themeColor: #21232E;
$highlightColor: #FF4E33;
$primaryFont: 'Source Sans Pro', sans-serif;
$textFont: 'Fresca', sans-serif;
$secondaryFont: 'Hind', sans-serif;
$headerBackground: url("../img/m-h-night.jpg");
$images: ("experts": 214px, "content formats": 206px, "certificate": 227px);